<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="robindecroon.homeviz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="robindecroon.homeviz.HomeVizApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="robindecroon.homeviz.HomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="robindecroon.homeviz.usage.UsageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_usage"
            android:parentActivityName="robindecroon.homeviz.HomeScreen"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="robindecroon.homeviz.HomeScreen" />
        </activity>
        <activity
            android:name="robindecroon.homeviz.usage.UsageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_usage_detail"
            android:parentActivityName="robindecroon.homeviz.usage.UsageActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="robindecroon.homeviz.usage.UsageActivity" />
        </activity>
        <activity
            android:name="robindecroon.homeviz.usage.light.LightUsageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_light_usage"
            android:parentActivityName="robindecroon.homeviz.usage.UsageActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="robindecroon.homeviz.usage.UsageActivity" />
        </activity>
        <activity
            android:name="robindecroon.homeviz.usage.light.LightUsageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_light_usage_detail"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="robindecroon.homeviz.usage.light.LightUsageActivity" />
        </activity>
        <activity
            android:name="robindecroon.homeviz.you.YouActivity"
            android:label="@string/title_activity_you"
            android:parentActivityName="robindecroon.homeviz.HomeScreen"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="robindecroon.homeviz.HomeScreen" />
        </activity>
        <activity
            android:name="robindecroon.homeviz.usage.water.WaterUsageActivity"
            android:label="@string/title_activity_water_usage"
            android:parentActivityName="robindecroon.homeviz.usage.UsageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="robindecroon.homeviz.usage.UsageActivity" />
        </activity>
        <activity
            android:name="robindecroon.homeviz.usage.homecinema.HomeCinemaUsageActivity"
            android:label="@string/title_activity_home_cinema_usage"
            android:parentActivityName="robindecroon.homeviz.usage.UsageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="robindecroon.homeviz.usage.UsageActivity" />
        </activity>
        <activity
            android:name="robindecroon.homeviz.usage.appliance.ApplianceUsageActivity"
            android:label="@string/title_activity_appliance_usage"
            android:parentActivityName="robindecroon.homeviz.usage.UsageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="robindecroon.homeviz.usage.UsageActivity" />
        </activity>
    </application>

</manifest>